body {
    background-color: rgb(21,21,21) !important;
    color: white !important;
    text-align: center !important;
    overflow-x: hidden;
    font-family: "Segoe UI Light", "Ubuntu", "sans-serif";
}
footer {
    position: absolute;
    top: calc(100% - 30px);
    width: 100%;
    left: 0px;
    font-size: 12px;
}
#otworz {
    position: absolute;
    z-index:-1;
    top: 50%;
    transition: left 3s;
    transform: translate(-50%, -50%);
    border: none;
    outline: none !important;
    border-radius: 5px !important;
    font-size: 200%;
    background: darkgreen;
    color: white;
}
#ladowanie {
    position: absolute;
    transition: left 3s;
    top: 50%;
    transform: translate(-50%, -50%);
}
#aaaaaa {
    top: calc(100% - 70px);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

#serwer h1 {
    max-height: 43px;
}
#serwer img {
    position: relative;
    left: 10px;
}